.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid gray;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    background-color: white; 
    border-radius: 0;
}
.FooterButtons{
    display: flex;
    justify-content: space-between;
    border-top:1px solid gray;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    background-color: white; 
    border-radius: 0;
}
.Button{
    background-color: white;
    font-weight: bold;
    border :none;
}